@import url('http://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: Raleway;
    min-width: 1000px;
    line-height: 1.8em;
    font-size: 16px;
}

#globalWrapper #headerSection {
    color: #fff;
    line-height: 2.8em;
}

    #globalWrapper #headerSection .primary {
        font-size: 42px;
    }

    #globalWrapper #headerSection .secondary {
        font-size: 24px;
    }

#globalWrapper #headerSection {
    text-align: center;
    padding: 200px 0;
    background: linear-gradient( rgba(0,0,0, .5), rgba(0,0,0, .5)), url("../Images/header-background.jpg") fixed;
    margin-bottom: 25px;
}

#navigationMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 0;
    background-color: #222;
}


/* Page Content*/
.headerText {
    font-size: 25px;
    font-weight: bold;
}

.bodyText {
    line-height: 2em;
}

#pageLabel {
    text-align: center;
    color: #000;
    font-size: 30px;
}

    #pageLabel p {
        margin: 15px auto 25px auto;
    }

    #pageLabel img {
        width: 70px;
        margin-bottom:;
    }

/* Footer Section */
footer {
    padding: 50px 130px 20px 130px;
    background-color: #eee;
    color: #888;
    margin-top: 20px;
    min-width: 1100px;
}

    footer ul, footer ol {
        list-style: none;
    }


    footer li a {
        color: #666;
    }

        footer li a:hover {
            color: #000;
        }

    footer #copyrightText {
        text-align: center;
        margin-top: 20px;
    }

    footer .footerBlock {
        width: 400px;
        display: inline-table;
    }

        footer .footerBlock .footerHeader {
            font-weight: 900;
            color: #444;
        }

    footer strong {
        font-weight: 600;
    }
